mat-card {
  max-width: 30rem;
}

.example-header-image {
  background-image: url('../../../assets/icons/image002.png');
}

.observation-data {
  font-weight: bold;
}

.example-card {
  margin: 1rem 0;
  background-color: #eee;
}

@media only screen and (min-width: 800px) {

  .example-card {
    min-width: 100%;
    box-sizing: border-box;
  }

  mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  mat-card-header-text {
    margin: 0;
  }

  mat-card-content {
    display: flex;
    justify-content: space-evenly;

    p:first-child {
      margin-top: auto;
    }
  }
}
