<button mat-button (click)="goBack()">
  Back
</button>
<form [formGroup]="observationForm" (submit)="createObservation()">
  <div fxLayout="row">
    <mat-form-field>
      <input formControlName="location" matInput placeholder="Location"/>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <input formControlName="temperature" matInput placeholder="Temperature"/>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <input formControlName="humidity" matInput placeholder="Humidity"/>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <input formControlName="windSpeed" matInput placeholder="Wind speed"/>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <input formControlName="windDirection" matInput placeholder="Wind direction"/>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <input formControlName="precipitation" matInput placeholder="Precipitation"/>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <input formControlName="pressure" matInput placeholder="Pressure"/>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <input formControlName="conditions" matInput placeholder="Conditions"/>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field formControlName="date">
      <input matInput type="date" />
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field formControlName="time">
      <input matInput type="time" />
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <button type="submit" [disabled]="!observationForm.valid" mat-raised-button>Save</button>
  </div>

</form>
